@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
body{font-family: 'PT Sans', sans-serif;}
body,figure{padding:0;margin:0;}
ul{list-style:none;padding:0;margin:0;}
ul li{padding:0;margin:0;}
header,nav,footer{position:relative;}
header{text-align:center;position:absolute;width:90%;bottom:10%;padding:0 5%;}
header h1{display:none;}
header img{height:auto;width:100%;}
nav{background:#000;opacity:0.9;box-shadow: 1px 0px 2px #000;font-size:12px;width:100%;line-height:24px;text-transform:uppercase;text-align:center;}
nav ul{padding:0 1em;}
nav ul li{display:inline-block;color:#ddd;font-weight:700;padding-right:2em;}
nav ul li:last-child{padding-right:0;}
nav ul li a{text-decoration:none;color:#ddd;font-weight:400;transition:0.2s ease 0s;border-bottom:1px solid #000;}
nav ul li a:hover,nav ul li a:focus{color:#fff;border-bottom:1px solid #fff;}